nav {
    display: flex;
    align-items: center;
    background-color: gray;
    padding: 10px;
}

/* Image left */
nav img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

/* Push ALL links to right */
nav a:first-of-type {
    margin-left: auto;
}

/* Style links */
nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
}